<div class="page-content"></div>
  <div class="container" id="home-container">
     <div class="jumbotron text-center text-white">
        <h1 class="display-4">Tech News</h1>
        <p class="lead">The Tech News is the most trusted, widely-read, independent source of latest news and technical coverage on cybersecurity, infosec and hacking.</p>
        <hr class="my-4">
        <p>As people increasingly work from home and online communication platforms such as Zoom explode in popularity in the wake of coronavirus outbreak, cybercriminals are taking advantage of the spike in usage by registering new fake "Zoom" domains 
            and malicious "Zoom" executable files in an attempt to trick people into downloading malware on their devices.</p>
        <a class="btn btn-danger btn-lg" href="#" role="button">More News</a>
    </div>
 </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Tech News</small>
    </div>
  </footer>